<div class="wrapper">

    <h1>Hi my name is Amie Collins,</h1>
    <h4>these are my favourite things.</h4>

    {{!-- <pre>{{thingsData}}</pre> --}}

    {{#each thingsData}}
    <div class="thingwrapper">
        <div class="nameBox">
            <h2>{{ Name }}</h2>
        </div>
        <div class="pictureBox"><img src="images/{{ IMGURL }}" alt="{{ Thing }}"></div>
        <div class="thingBox">
            <h3>{{ Thing }}</h3>
        </div>
        <div class="descriptionBox">
            <p>{{ Description }}</p>
        </div>
    </div>
    {{/each}}


</div>